<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've been deleted from Rotten Mangos, <%= @user.name %></h1>
    <p>
      You shouldn't have been such a loser, <%= @user.login %>.<br>
    </p>
    <p>
  </body>
</html>