
<% if @user %>
	<h1><%= @user.firstname %> <%= @user.lastname %>'s Profile</h1>

	<h3>Email: <%= @user.email %></h3>

	<br>

	<h2>Reviews</h2>

  <%= render partial: 'user_reviews', collection: @user.reviews, as: :review %>
  


<% else %>
	<p> User has been deleted <p>
<% end %>



